header .navigation .basket-icon {
  margin-right: 30px;
  position: relative;
}

header .navigation .basket-icon i {
  font-size: 25px;
  color: red;
}

header .navigation .basket-icon span {
  position: absolute;
  top: -15px;
  color: red;
}

#products {
  height: 1500px;
}
